body {
    color: white;
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h5, h5 {

}
.main {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #f0f3f8;
    
}

.infographic {
    /* width: 60%; */
    width: 80vw;
}

.side {

    background-color: #001;
    padding: 10%;
    width: 40%;
    
}

.barrier-line-muted, .countdown, .malware, .speech, .stolen, .hover, .lock, .click  {
    opacity: 0;
    visibility: hidden;
}

/* .hover, .malware, .click {
    opacity: 0.5;
    visibility: visible;
} */


.bubble {
    fill: #000011;
    opacity: 0.85;
}
.bubble-before {
    fill: #000011;
    opacity: 0.85;
}

text {
    font-weight: 300;
    font-size: 30px;
    fill: white;
}
.title {
    font-size: 40px;
    font-weight: 500;
    opacity: 0.9;
}
.barrier-line, .barrier-line-muted {
    stroke-width:5;
    stroke-linecap:round;
}

.barrier-line {
    stroke:#07e;
}


.barrier-line-muted {
    stroke: #e7e7e9;
}
.barrier-button {
    fill:#07e;
    
}
.barrier-plus, .barrier-minus {
    fill:none;
    stroke:#FFF;
    stroke-width:5;
    stroke-linecap:round;            
}
.user {
    fill: #4C4C58;
}

.lock rect {
    fill:none;
    stroke: #FF8800;
    stroke-width:3;
    stroke-miterlimit:10;
}

.device, .workstation{
    fill: #07e;
}


.on {
    visibility: visible
}

.click {
    cursor: pointer;

}

.hover {
    cursor: help;

}



.yellow {
    fill: #fc0;
}